@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* footer {
  font-family: "Open Sans", sans-serif
} */

.text-color {
  color: white;
  text-decoration: none;
}

